

.img--avatar {
  display: block;
  margin: 2em auto 2em auto;
}

/* ------------------------------------
  base styles
------------------------------------ */
* {
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}
p {
  font-size: 0.75em;
}
h1 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 0 0 0 0;
}
h2 {
  font-size: 1.2em;
  color: #353747;
}
h3 {
  color: #353747;
}
body {
  margin: 0 0 0 0;
}

/* ------------------------------------
  header
------------------------------------ */
header {
  background-color: #5a61a8;
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
  color: white;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-weight: 200;
}
img.profile-avatar {
  max-width: 2em;
  max-height: 2em;
  border-radius: 50%;
}
.header-right-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.profile-name {
  text-align: right;
  color: white;
  margin: 0.5em;
}
.bell {
  width: 1.25em;
  height: 1.25em;
  margin: 0.15em 0.5em 0.15em 0.15em;
  transition: transform .3s;
}
.bell:hover {
  transform: scale(1.1);
  transition-timing-function: ease-out;
}
/* ------------------------------------
  nav
------------------------------------ */
nav {
  background-color: #353747;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.nav-link {
  margin: 0 0.75em;
}
.nav-link > img {
  width: 1.75em;
  height: 1.75em;
}
/* ------------------------------------
  sub header and search
------------------------------------ */
.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}
h2 {
  justify-self: flex-start;
}
.main-header-search {
  justify-self: flex-end;
  width: 30%;
}
input[type=search] {
  width: 100%;
  font-size: 1em;
  border-radius: 3px;
  border: solid lightgrey 1px;
  padding: 0 0 0 8px;
}
/* ------------------------------------
  main structure
------------------------------------ */
img {
  width: 100%:
}

/* ------------------------------------
  animations
------------------------------------ */
@keyframes ringing {
  10% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(11deg) scale(1.03);
  }
  55% {
    transform: rotate(-11deg) scale(1.04);
  }
  70% {
    transform: rotate(11deg) scale(1.03);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.bell:hover {
  transform-origin: 50% 50%;
  transform: rotate(0deg) scale(1);
  animation: ringing 0.75s;
  animation-timing-function: ease-in;
}
